<form class="form-row">
  <div class="form-group col-md-2">
    <label for="nombre" class="sr-only">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="nombre"
     class="form-control" #nombreInput>
  </div>

  <div class="form-group col-md-2">
    <label for="nombre" class="sr-only">Apellido</label>
    <input type="text" name="apellido" id="apellido" placeholder="apellido"
     class="form-control" #apellidoInput>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-success mt-2" (click)="agregarPersona(nombreInput, apellidoInput)">
      AGREGAR USUARIO
    </button>
  </div>
</form>
