* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
    grid-area: header;
     /* grid-column-start: 1;
        grid-column-end:-1; */
}

.contenedor .contenido {
    grid-area: contenido;
     /* grid-column: span 2; */
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
    grid-area: sidebar;
     /* grid-row: span 2; */
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
     /* grid-row: span 2; */
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
    grid-area: footer;
    /* grid-column: span 3; */
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}

 /*

 .contenedor .contenido{
     grid-column:1 / -1;
 }

 .contenedor .sidebear{
     grid-column:1 / -1;
 }
 
 .contenedor .widget-1 {
     grid-column:span 2;
 }


 Hay dos formas de hacerlo, pero con la primera debemos de cambiar todos los elementos en en MQ
 Entonces la segunda opción es la mejor para trabajar con diseño responsivo

 */