<!--
    Esta directiva nos permite iterar una lista.
    NOTA: Se ha creado un modelo!
-->

<div class="container">
  <div class="col">
    <h3>{{title}}</h3>
  </div>
  <hr>
     <!-- para que todo este en linea, de forma horizontal -->
  <form class="form-row">
    <div class="form-group col-md-2">
       <!-- Esta clase es de bootstrap y hace que el elemento sea parte del codigo fuente, pero no se va a visualizar -->
      <label for="nombre" class="sr-only">Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control" [(ngModel)]="nombreInput">
    </div>

    <div class="form-group col-md-2">
      <!-- Esta clase es de bootstrap y hace que el elemento sea parte del codigo fuente, pero no se va a visualizar -->
      <label for="nombre" class="sr-only">Apellido</label>
      <!--Cuando metamos información en el inputText se va capturar y guardar en la variable apellidoInput  -->
      <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control"
        [(ngModel)]="apellidoInput">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success mt-2" (click)="agregarPersona()">
        AGREGAR USUARIO
      </button>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let persona of personas; let i = index">
       {{i+1}}: {{persona.nombre}} {{persona.apellido}}
      </div>
    </div>
  </div>
</div>

