<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Vue</title>
</head>
<body>
   
    <div id="app">

        <h1> {{titulo}} </h1>

        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">  <!-- Agregamos el @keyup.enter-->
        <button @click="agregarFruta">Agregar</button>




      <ul>
          <li v-for="fruta of frutas"> <!-- fruta va a ser interativo demtro de frutas-->
            <input type="number" v-model.number="fruta.cantidad">

             {{fruta.nombre}}

             <button @click="fruta.cantidad++">+</button> 
              <span v-if="fruta.cantidad === 0"> - Sin Stock </span>
          </li> 
      </ul>

      <h4> TOTAL : {{sumarFrutas}}</h4>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="keyup_model_comp.js"> </script>
   
</body>
</html>

<!-- 


-->