<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Vue</title>
</head>
<body>
   
    <div id="app">

        <h1> {{titulo}} </h1>

        <input type="text" v-model="nuevaFruta">
        <button v-on:click="agregarFruta">Agregar</button>

      <ul>
          <li v-for="fruta of frutas"> <!-- fruta va a ser interativo demtro de frutas-->

              {{fruta.cantidad}} - {{fruta.nombre}}
              
              <span v-if="fruta.cantidad === 0"> - Sin Stock </span>
          </li> 
      </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="model_methods.js"> </script>
   
</body>
</html>

<!-- 

Vamos a generar uan conexión desde el HTML hasta JS, para eso
vamos a usar los inputs.

tenemos que procesar lo que se ingrese en el input, para que sea detectado por 
nuestro Vue.
v-model nos permite hacer una conexion directa del input con el JS.

Tanto v-on:click o @onclick genera el mismo efecto.


-->