<!-- Este evento nos permite escuchar los eventos de nuestros componnetes HTML, ejem:
     cuando damos click, cuando presionamos una tecla, etc. 
    
    El ejercicio trata de que cuando se dará click al texto esté cambiará.
    NOTA: este ejemplo solo captura el evento, más no la información. 
-->

<div class="container">
    <div class="row">
        <div class="col">
            <h1> Listado de Personas </h1>
            <button class="btn btn-primary" (click)="agregarPersona"> Agregar Persona </button>
            <span> {{ mensaje }}</span>
        </div>
    </div>
</div>