<span> Mi nombre es {{nombres + ','}}</span> <br>
<span> Mis apellidos son {{getApellido()}}</span> <br>

<!--
  Template reference variable en angular (hacer interpolacion a una propiedad en html)
<div (keyup)="0">
  <input #entrada>
  {{entrada.value}}
</div>
-->

<!-- El evento Click hace parte del ejemplo de Event Binding-->
<button class='btn bnt-primary' [disabled]="desabilitar" (click)='agregarUsuario()'> Agregar Usuario </button>
<!-- Event Binding --> <span>{{mensaje}}</span> <br>

<!-- Continuacion de  Event Binding: como capturar la informacion de un elemento input text
   o cualquier otro elemento html que proporcione informacion y queramos capturarla -->
<!-- <label> Titulo persona </label>
<input type="text" class='form-control' (input)='modificarTitulo($event)'>
{{titulo}} -->

<!-- Two way binding con Angular: en una combinación de event y property binding -->
<label> Titulo persona </label>
<input type="text" class='form-control'
 [(ngModel)]='titulo' > <!-- ngModel es la propiedad de formularios-->
{{titulo}}
